name: Dockerized System Monitor

on:
  push:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t system-monitor .

    - name: Run Containerized Sentinel
      env:
        MONITOR_PASSWORD: ${{ secrets.MONITOR_PASSWORD }}
      run: docker run -e MONITOR_PASSWORD=$MONITOR_PASSWORD system-monitor